@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Parisienne&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full w-full bg-blue-50;
}

.container {
  @apply !max-w-[84rem] mx-auto px-4 sm:px-6 lg:px-8;
}

#main-container {
  background: url("./assets/imgs/lily-0JjKqVh-1d4-unsplash.jpg");
  @apply !bg-cover !bg-no-repeat !bg-center h-screen w-full;
}

#bg-overlay {
  @apply h-screen w-full backdrop-blur-2xl  overflow-auto pb-12;
}

.analog-container {
  background: url("./assets/imgs/analog-clock.jpg");
  @apply relative flex justify-center items-center bg-contain rounded-3xl
   bg-blue-50 h-44 w-44 bg-no-repeat bg-center border-[6px]
    border-zinc-300;
}

.analog-container::before {
  content: "";
  @apply w-4 h-4 z-30 bg-white absolute rounded-full;
}

.hr,
.min,
.sec {
  @apply rounded-full absolute flex justify-center;
}

.hr,
.min,
.sec {
  position: absolute;
  background: white;
  border-radius: 10px;
  transform-origin: bottom;
}

.hr {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

.min {
  width: 1.4%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

.sec {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}

/* Digital Clock Styles */
#time {
  font-family: "Audiowide", cursive;
}

#day {
  font-family: "Parisienne", cursive;
}

/* Styles for datetime section */

#datetime {
  @apply !w-full
    rounded-[2rem] !bg-cover !bg-no-repeat !bg-center !text-white h-[330px]
   flex items-center justify-between relative border-8;
}

/* ------------------------- */
/* == Referenced: https://www.poletto.dev/blog/animated-border-color/ == */
/* ------------------------- */
.flashi {
  background-image: linear-gradient(
    40deg,
    #0000ff,
    #00ffff,
    #ff0000,
    #ff0099,
    #ffffff,
    #00ffff,
    #ffff33,
    #00ff33,
    #ff0099
  );
  background-size: 200%;
  justify-content: center;
  align-items: center;
  animation: flashy 10s linear infinite;
}

@keyframes flashy {
  0% {
    background-position: 0 0;
  }
  33% {
    background-position: 500% 0;
  }
  66% {
    background-position: 0 0;
  }
  100% {
    background-position: 500% 0;
  }
}
